	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/10/2020 06:00
  	*/

    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/Flaticon.eot");
      src: url("../fonts/Flaticon-.eot#iefix") format("embedded-opentype"),
           url("../fonts/Flaticon.woff2") format("woff2"),
           url("../fonts/Flaticon.woff") format("woff"),
           url("../fonts/Flaticon.ttf") format("truetype"),
           url("../fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
      }
    }
    
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
      font-family: Flaticon;
    font-style: normal;
    }
    
    .flaticon-network:before { content: "\f100"; }
    .flaticon-24-hours-support:before { content: "\f101"; }
    .flaticon-social-care:before { content: "\f102"; }
    .flaticon-old-woman:before { content: "\f103"; }
    .flaticon-elderly:before { content: "\f104"; }
    .flaticon-disabled:before { content: "\f105"; }
    .flaticon-disabled-1:before { content: "\f106"; }
    .flaticon-wheelchair:before { content: "\f107"; }
    .flaticon-wheelchair-1:before { content: "\f108"; }
    .flaticon-mental-health:before { content: "\f109"; }
    .flaticon-old-people:before { content: "\f10a"; }
    .flaticon-restaurant:before { content: "\f10b"; }
    .flaticon-dumbbell:before { content: "\f10c"; }
    .flaticon-airplane:before { content: "\f10d"; }
    .flaticon-dj:before { content: "\f10e"; }
    .flaticon-elder:before { content: "\f10f"; }
    .flaticon-nurse:before { content: "\f110"; }
    .flaticon-heart:before { content: "\f111"; }